#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./kubeconfig)
export GPG_TTY=$(tty)
export FLUX_KEY_NAME="Cluster k3s lab (Flux) <danny@froberg.org>"
export FLUX_KEY_FP=8EC7BCCD78652A13D89FC03208B84637AC99822F
export PERSONAL_KEY_NAME="Danny Froberg <danny@froberg.org>"
export PERSONAL_KEY_FP=AB539BAC6BBBFC24F796606A0F64CF7965AA1A1D
#
export BOOTSTRAP_CLOUDFLARE_EMAIL="danny@froberg.org"
export BOOTSTRAP_CLOUDFLARE_TOKEN="P-IAjhbO-JBJAxOYqG1HRoQKQ1N3y23NAmXcE9ZP"

export LB=192.168.30.60

# The repo you created from this template
export BOOTSTRAP_GITHUB_REPOSITORY="https://github.com/dfroberg/cluster"
# Choose one of your domains or use a made up one
export BOOTSTRAP_DOMAIN="k8s.aml.ink"
# Pick a range of unused IPs that are on the same network as your nodes
export BOOTSTRAP_METALLB_LB_RANGE="192.168.30.100-192.168.30.150"
# The load balancer IP for ingress-nginx, choose from one of the available IPs above
export BOOTSTRAP_INGRESS_NGINX_LB="192.168.30.100"
