# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
# direnv keep it local
.envrc
# Keep teraform local
.terraform
*.tfstate*
.terraform.lock.hcl
vm-*-*data.yaml
terraform-plugin-proxmox.log
frr.conf
cert-manager-backup*.yaml
