[defaults]

#--- General settings
nocows                      = True
forks                       = 8
module_name                 = command
deprecation_warnings        = True
executable                  = /bin/bash
stdout_callback             = yaml
force_valid_group_names     = ignore
#--- Files/Directory settings
log_path                = ~/.ansible/ansible.log
inventory               = ~/cluster/provision/ansible/inventory
action_plugins          = ~/.ansible/plugins/action:/usr/share/ansible/plugins/action
library                 = ~/.local/lib/python3.9/site-packages
remote_tmp              = /tmp/.ansible/tmp
local_tmp               = /tmp/.ansible/tmp
roles_path              = ~/.ansible/roles:~/cluster/provision/ansible/roles:~/cluster/kubernetes/roles:~/cluster/local/roles:~/cluster/provision/router/roles:~/cluster/provision/docker/roles
collections_path        = ~/.ansible/collections

#--- Fact Caching settings
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache

#--- SSH settings
remote_port             = 22
timeout                 = 60
host_key_checking       = False
ssh_executable          = /usr/bin/ssh
private_key_file        = ~/.ssh/id_rsa

#--- Speed
callback_enabled       = true
internal_poll_interval = 0.001

#--- Plugin settings
vars_plugins_enabled = host_group_vars,community.sops.sops

[inventory]
unparsed_is_failed      = true

[privilege_escalation]
become                  = True
become_method           = sudo
become_user             = root
become_ask_pass         = False

[ssh_connection]
scp_if_ssh              = smart
transfer_method         = smart
retries                 = 3
timeout                 = 10
ssh_args                = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
pipelining              = True
control_path            = %(directory)s/%%h-%%r
