---
version: "3.8"

services:
  wikijs:
    image: linuxserver/wikijs
    container_name: wikijs
    restart: unless-stopped
    network_mode: bridge
    user: "0:0"
    privileged: true
    environment:
      TZ: "Europe/Stockholm"
      PUID: 0
      PGID: 0
    volumes:
      - wikijs-config:/config
      - wikijs-data:/data
    ports:
      - 3333:3000
    labels:
      - traefik.enable=true
      - traefik.http.routers.wikijs.rule=Host("wiki.froberg.org")
      - traefik.http.routers.wikijs.entrypoints=websecure
      - traefik.http.routers.wikijs.tls.certresolver=letsencrypt
      - traefik.http.services.wikijs.loadbalancer.server.port=3333
volumes:
  wikijs-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ wikijs_data_dir }}/config"
  wikijs-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ wikijs_data_dir }}/data"